<!DOCTYPE html>
<html lang="en">

<head>
	<title>
		<%= title %>
	</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<% include href.ejs %>
</head>

<body class="animsition">

	<!-- Header -->
	<% include Headerindex.ejs %>

		<!-- Cart -->
		<% include Cart.ejs %>



			<!-- Slider -->
			<% include Sliderindex.ejs %>


				<!-- Banner -->
				<% include Banner.ejs %>


					<!-- Product -->
					<% include ProductList.ejs %>

						<!-- Footer -->
						<% include Footer.ejs %>


							<!-- Back to top -->
						
							<% include Back-to-top.ejs %>

							<!-- Modal1 -->
							<% include Cartmodal.ejs %>

								<!-- Script -->
								<% include src.ejs %>

</body>

</html>